html, body {
  height: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.bag_cont {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bag_top {
  width: 145px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: #010101;
  height: 200px;
  border-radius: 100px 100px 0px 0px;
  position: relative;
}

.bag-top-3 {
  width: 104px;
  background: wheat;
  height: 10px;
  margin: 0 auto;
  top: 195px;
  left: 21px;
  position: absolute;
  z-index: 99;
}
.bag-top-2 {
  width: 105px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: wheat;
  height: 200px;
  border-radius: 100px 100px 0px 0px;
  margin: 0 auto;
  box-shadow: inset -1px -7px 20px 7px #7b7777;
  margin-top: 10px;
}
.bag-put {
  width: 10px;
  background: #d49b35;
  height: 10px;
  margin: 0 auto;
  top: 6px;
  left: 65px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
}
.bag-top-2 {
  width: 105px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: #fff;
  height: 200px;
  border-radius: 100px 100px 0px 0px;
  margin: 0 auto;
  box-shadow: inset -1px -7px 20px 7px #7b7777;
  margin-top: 10px;
}
.bag-bottom {
  width: 300px;
  background: wheat;
  height: 260px;
  border-radius: 5px 5px 30px 30px;
  box-shadow: inset -1px -3px 20px 0px #00000063;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #ffffff47;
}
.bag-bottom-cont {
  position: relative;
}
.nike {
  font-family: monospace;
  font-size: 28px;
  padding: 10px;
  color: steelblue;
  width:10px;
  height:50px;
	border:1px solid gray;
	font-size:20px;
	line-height: 30px;
	text-indent: 30px;
	z-index: 3;
}

.nike::before {
  content:"";
	position:absolute;
	top:-250px;
	left:190px;
	width: 150px;
	height:550px;
	background: black;
	border-top-left-radius: 60px 110px;
	border-top-right-radius: 130px 220px;
	transform: rotate(-113deg);
	z-index: 1;
}

.nike::after {
   content: "";
    position: absolute;
    top: -235px;
    left: 220px;
    width: 120px;
    height: 500px;
    background: black;
    border-top-left-radius: 60px  110px;
    border-top-right-radius: 130px 220px;
    background: wheat;
    transform: rotate(-104deg);
    z-index: 2;

}
.bag-bottom-3d {
  position: absolute;
  width: 295px;
  background: #191348;
  height: 266px;
  z-index: -1;
  border-radius: 5px 5px 25px 18px;
  box-shadow: -1px 0px 20px 0px #7b7777;
  transform: translate(6px, -5px);
}